<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>v-model双向数据绑定-简易计算器</title>
	<script src="vuejs/vue.min.js"></script>
</head>
<body>
	<div class="wrap">
		<input type="text" v-model="x">
		<select v-model="s">
			<option value="+">+</option>
			<option value="-">-</option>
			<option value="*">*</option>
			<option value="/">/</option>
		</select>
		<input type="text" v-model="y">
		<input type="button" value="=" @click="suan">
		<input type="text" v-model="z">
	</div>
	<script>
		var vm = new Vue({
			el:".wrap",
			data:{
				x:0,
				y:0,
				s:"+",
				z:0
			},
			methods:{
				suan:function(){
					switch(this.s){
						case "+":
							this.z = parseInt(this.x) + parseInt(this.y)
							break;
						case "-":
							this.z = parseInt(this.x) - parseInt(this.y)
							break;
						case "*":
							this.z = parseInt(this.x) * parseInt(this.y)
							break;
						case "/":
							this.z = parseInt(this.x) / parseInt(this.y)
							break;
					}
				}
			}
		})
	</script>
</body>
</html>